<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" 
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" 
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap uap3 desktop">

  <Identity
    Name="36457warexify.MinLinux"
    Publisher="CN=04F0C5D2-EF91-4971-89AE-1677D00DD7F9"
    Version="20.11.0.0" />

  <Properties>
    <DisplayName>MinLinux</DisplayName>
    <PublisherDisplayName>warexify</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="MinLinux"
        Description="The bespoke WSL distro."
        BackgroundColor="white"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
		<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" 
		               Square310x310Logo="Images\LargeTile.png" Square71x71Logo="Images\SmallTile.png"
		               ShortName="MinLinux">
		  <uap:ShowNameOnTiles>
		    <uap:ShowOn Tile="wide310x150Logo" />
			<uap:ShowOn Tile="square310x310Logo" />
		  </uap:ShowNameOnTiles>
		</uap:DefaultTile>

        <uap:SplashScreen Image="Images\SplashScreen.png" BackgroundColor="transparent" />
      </uap:VisualElements>
	    <Extensions>
		    <uap3:Extension Category="windows.appExecutionAlias" Executable="DistroLauncher\minlinux.exe" EntryPoint="Windows.FullTrustApplication">
			    <uap3:AppExecutionAlias>
				    <desktop:ExecutionAlias Alias="minlinux.exe" />
			    </uap3:AppExecutionAlias>
		    </uap3:Extension>
	    </Extensions>

    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
